extends ../layout

append css
  link(rel="stylesheet" href="/styles/dependencies/angular-color-picker.css")
block content
  div(ng-app='strandApp')
    .container(ng-controller='StrandCtrl')
      .alert.alert-info(ng-show="activeStrand == {}")
        | No strand pattern is active yet!
      .panel
        .row
          h1.text-center Create Strand Pattern
        .row
          .col-md-4
            .row
              .col-md-12
                h3 Choose a pattern
                .btn-group(role="group" ng-model="pattern")
                  button.btn.btn-default(ng-model='pattern'
                    uib-btn-radio='{{key}}'
                    ng-repeat="(key, value) in patterns"
                    ng-disabled='value.disabled == true'
                    type='button') 
                    | {{value.displayName}}
                .label {{value.description}}
            .row
              .col-md-10
                h3 How many LEDs?
                .input-group
                  span.input-group-addon: span.fa.fa-lightbulb-o
                  input.form-control(type="number" min="1" step="1" ng-model="numLEDs" value="{{numLEDs}}" ng-change="updateNumLEDs()")
            .row
              .col-md-12
                h3 Animations @todo
                .btn-group(role="group")
                  button.btn.btn-default.disabled(type='button') Interval
                  button.btn.btn-default.disabled(type='button') Wave
                  button.btn.btn-default.disabled(type='button') Blink
          .col-md-4
            h3 Preview
            a.preview-led-size(ng-repeat="led in leds track by $index" 
              ng-click='setActiveLED($index)'
              ng-class="{active: $index == activeLED}"
              style="color: {{leds[$index].color || '#3498db'}}"): span.fa.fa-lightbulb-o
          .col-md-4
            .row
              h3 Assign LED Color
                .input-group.col-md-11
                    input.form-control(type="text" 
                    ng-model="leds[activeLED].color" 
                    ng-init="leds[activeLED].color = '#f1c40f'")
                    span.input-group-btn: button.btn.btn-primary(
                    type="button"
                    ng-click='applyAllColor(leds[activeLED].color)')
                      span Apply All
            .row
              color-picker.col-md-11(ng-model="leds[activeLED].color")

        .row.padding-top
          .col-md-12
            .row
              .col-md-12.col-md-offset
                button.btn.btn-success.btn-block.btn-lg
                  h3 Save
      .well
        h1.text-center Saved Patterns
        .alert.alert-danger(ng-show="strands == []")
          | No strand patterns have been saved. Create one!

