extends ../layout

append css
  // append template-specific styles
  link(rel="stylesheet" href="/styles/dependencies/angularjs-color-picker.css")
//append head-js
  script(src='/js/dependencies/tinycolor2.js')
block content
  div(ng-app='createApp')
    .container-fluid.panel(ng-controller='CreateCtrl')
        .row
          h1.text-center Create a New Profile
        .row
          .col-xs-12
            h3 Label:
            .input-group
              span.input-group-addon: span.fa.fa-tag
              input.form-control(type='text' ng-model='profile.name' value='MyLightProfile' ng-change='updateName()' placeholder='MyLightProfile')
        br
        .row
          .col-xs-12
            div(ng-repeat='lantern in lanterns')
              .col-xs-12.well
                h4.text-center {{lantern.label}}
                .col-xs-6.preview-led-lg(
                  ng-repeat='led in lantern.leds'
                  ng-class='{active: led == activeLED}'
                  style='color:{{profile.leds[led]}}')
                    color-picker(
                    ng-model='profile.leds[led]'
                    color-picker-format="'hex'")
                //a.preview-led-lg(ng-repeat="led in profile.leds track by $index" 
                  ng-click='setActiveLED($index)'
                  ng-class="{active: $index == activeLED}"
                  style="color: {{profile.leds[$index] || '#f7f7f7'}}"): span.fa.fa-lightbulb-o


        .row.padding-top
          .col-xs-12.col-sm-4
              button.btn.btn-primary.btn-block.btn-lg(
              ng-click='create()') Save
          .col-xs-12.col-sm-4.col-sm-offset-2
              button.btn.btn-warning.btn-block.btn-lg(
              ng-click='init()') Reset
              br
          .col-xs-12.col-sm-4.col-sm-offset-2
              button.btn.btn-danger.btn-block.btn-lg(
              ng-click='remove()') Remove
              br
